$lightBgColor: rgb(255, 251, 247);
$lightTextColor: #080808;
$darkBgColor: #242424;
$darkTextColor: #eee;
$primary: #f80;
$lgMainPt: 35px;
$mdMainPt: 30px;
$defaultMainPt: 16px;

@font-face {
  font-family: Fredoka;
  src: url(/Fredoka.ttf);
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100vw;
  height: 100%;
  max-width: 1280px;
  text-align: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.title,
.subtitle {
  color: $primary;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

.container {
  margin: 0 auto;
}

header {
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 5px auto;
  position: sticky;
  top: 0;
  left: 0;
}

main {
  width: 100%;
}

#heading {
  height: fit-content;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sidebar-show-btn {
  display: none;
}

#header-nav {
  margin-right: 15px;
}

#header-nav ul li {
  padding: 0px 5px;
}

#sidebar-nav ul li {
  padding: 5px;
}

#header-nav ul li a {
  padding: 10px 8px;
}

#sidebar-nav ul li a {
  font-size: 18px;
  padding: 10px;
}

#theme-toggle {
  width: 68px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 1px 4px;
  border-radius: 22px;
  position: relative;
}

#theme-toggle button {
  padding: 1px;
}

#toggle-circle {
  width: 30px;
  height: 30px;
  border-radius: 17px;
  background: #ddd;
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 2px;
}

#theme-toggle button:first-of-type {
  color: $primary;
}
#theme-toggle button:last-of-type {
  color: #8b8b8b;
}

#sun-svg {
  width: 24px;
  height: 24px;
}

#moon-svg {
  width: 20px;
  height: 20px;
}

#mobile-sidebar {
  width: 100%;
  height: 100vh;
  filter: blur(0.5);
  position: fixed;
  top: 0;
  left: 0;
}

#mobile-sidebar-container {
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
}

#mobile-sidebar-header {
  padding: 6.5px 0;
}

#sidebar-hide-btn {
  padding: 3px;
  margin-right: 5px;
  border-radius: 5px;
}

#mobile-sidebar-body {
  width: 100%;
  height: calc(100% - 45px);
}

#mobile-sidebar-body #sidebar-nav {
  padding-top: 24px;
  text-align: center;
}

#mobile-sidebar-body footer {
  width: 100%;
  height: 32px;
  font-size: 12px;
  font-weight: lighter;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.from-left-anim {
  animation: fromLeft 0.25s ease-out 0.1s forwards;
}

.from-right-anim {
  animation: fromRight 0.25s ease-out 0s forwards;
}

#hero-section {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: $lgMainPt;

  section:first-of-type {
    width: 50%;
    height: 400px;
    text-align: start;

    h3 {
      font-size: 32px;
    }

    h2 {
      font-size: 50px;
      padding-top: 7px;
      padding-bottom: 7px;
    }

    h1 {
      font-size: 64px;
      color: $primary;
    }

    h1:first-of-type {
      margin-top: 24px;
    }

    #wido {
      width: 75%;
      font-size: 21px;
      margin-top: 24px;
      margin-bottom: 24px;
      text-align: justify;
    }

    #medias-icons {
      width: fit-content;
      height: fit-content;
      margin-top: 25px;

      a {
        padding: 5px;

        .media-svg {
          width: 32px;
          height: 32px;
        }
      }

      #github-link {
        color: #000;
      }
      #linkedin-link {
        color: #0073b1;
      }
      #twitter-link {
        color: #1da1f2;
      }
    }
  }

  section:last-of-type {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

#hero-hexagones {
  width: 80%;
  height: fit-content;
  overflow-x: hidden;
}

#hero-hexagones polygon {
  stroke-width: 5px;
}

#scroll-btn-container {
  width: 40px;
  height: fit-content;
  margin: 30px auto;
}

#about {
  padding-top: 60px;
  background: url(src/background.png) no-repeat;
  background-position-x: left;

  h1 {
    width: fit-content;
    font-size: 50px;
  }

  .subtitle {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
 }
}

#about-me {
  width: calc(100% - 120px);
  margin: auto;
}

#about-me .img-container {
  width: fit-content;
  height: fit-content;

  img {
    width: 350px;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to bottom right,
      rgba(255, 136, 0, 0.25),
      $primary
    );
  }
}

#about .text {
  width: 50%;
  font-size: 21px;
  text-align: justify;
}

body[data-theme="light"] {
  color: $lightTextColor;
  background-color: $lightBgColor;

  header {
    background-color: rgba($color: #fffbf7, $alpha: 0.5);
    border-bottom: 0.25px solid $darkTextColor;
  }

  #theme-toggle {
    background: rgba($color: $darkTextColor, $alpha: 0.5);
    border: 0.75px solid $darkTextColor;
  }

  #mobile-sidebar {
    background: rgba($color: rgb(155, 141, 128), $alpha: 0.75);
  }

  #mobile-sidebar-container {
    background: $lightBgColor;
  }

  #mobile-sidebar-header {
    border-bottom: 0.25px solid $darkTextColor;
  }

  #sidebar-hide-btn {
    background-color: $darkTextColor;
  }

  .bg-anim-show {
    animation: lsbgoup 0.25s ease-out 0s forwards;
  }

  .bg-anim-hide {
    animation: lsbgodown 0.15s ease-out 0.05s forwards;
  }
}

#first-hexagone {
  width: 400px;
  height: 400px;
}

polygon {
  stroke-width: 6px;
}

body[data-theme="dark"] {
  color: $darkTextColor;
  background-color: $darkBgColor;

  header {
    background-color: rgba($color: $darkBgColor, $alpha: 0.5);
    border-bottom: 0.25px solid rgb(61, 61, 61);
  }

  #theme-toggle {
    background: rgba($color: rgb(70, 70, 70), $alpha: 0.5);
    border: 0.75px solid rgb(61, 61, 61);
  }

  #mobile-sidebar {
    background: rgba($color: rgb(95, 95, 95), $alpha: 0.5);
  }

  #mobile-sidebar-container {
    background: $darkBgColor;
  }

  #mobile-sidebar-header {
    border-bottom: 0.25px solid rgb(70, 70, 70);
  }

  #sidebar-hide-btn {
    background-color: rgb(70, 70, 70);
  }

  .bg-anim-show {
    animation: dsbgoup 0.25s ease-out 0s forwards;
  }

  .bg-anim-hide {
    animation: dsbgodown 0.15s ease-out 0.05s forwards;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
  }
}

@media (min-width: 1281px) {
  .container {
    width: 1280px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: calc(100% - 10%);
  }

  #hero-section {
    h3 {
      font-size: 28px !important;
    }
    h2 {
      font-size: 42px !important;
    }
    h1 {
      font-size: 50px !important;
    }
  }

  #about-me {width: 100%;}

  #about-me .text {font-size: 18px;}
}

@media (max-width: 992px) {
  #hero-section {
    h3 {
      font-size: 25px !important;
    }
    h2 {
      font-size: 36px !important;
    }
    h1 {
      font-size: 45px !important;
    }
  }

  #about-me {
    .text {font-size: 17px;}
    .img-container img {
      width: 300px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    width: calc(100% - 40px);
  }
  .menu-svg {
    width: 28px;
    height: 28px;
  }

  #sidebar-show-btn {
    display: block;
  }

  #header-nav {
    display: none;
  }

  header {
    width: 100% !important;
  }

  #hero-section {
    flex-direction: column;
    justify-content: center;
    section {
      width: calc(100% - 42px) !important;
      margin: auto;
    }

    h3 {
      font-size: 28px !important;
    }
    h2 {
      font-size: 45px !important;
    }
    h1 {
      font-size: 64px !important;
    }
    h1,
    h2,
    h3 {
      width: fit-content !important;
    }

    section:last-of-type {
      display: none !important;
    }
  }

  #about-me {
    .content {
      flex-direction: column;
      align-items: center;

      .img-container img {
        width: 400px;
      }

      .text {
        width: calc(100% - 100px);
        margin-top: 25px;
      }
    }
  }
}

@media (max-width: 640px) {
  .container {
    width: calc(100% - 20px);
  }

  #logo {
    width: 44px;
    height: 47px;
  }

  #theme-toggle {
    height: 32px;
  }

  #sun-svg {
    width: 22px;
    height: 22px;
    margin-top: 1px;
  }

  #moon-svg {
    width: 18px;
    height: 18px;
    margin-top: 1px;
  }

  #toggle-circle {
    top: 2px;
  }

  #hero-section {
    section {
      width: calc(100% - 12px) !important;
    }

    h3 {
      font-size: 24px !important;
    }
    h2 {
      font-size: 34px !important;
    }
    h1 {
      font-size: 45px !important;
    }
    h1,
    h2,
    h3 {
      width: fit-content !important;
    }
    #wido {
      font-size: 17px !important;
    }

    .media-svg {
      width: 28px !important;
      height: 28px !important;
    }
  }

  #about-me {
    .img-container img {
      width: 250px !important;
    }

    .text {
      width: calc(100% - 10px) !important;
    }
  }
}

@media (max-width: 320px) {
  #hero-section section {
    width: 100% !important;
  }
}

@keyframes fromLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes fromRight {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes lsbgoup {
  from {
    background-color: rgba($color: rgb(155, 141, 128), $alpha: 0);
  }
  to {
    background-color: rgba($color: rgb(155, 141, 128), $alpha: 0.75);
  }
}

@keyframes lsbgodown {
  from {
    background-color: rgba($color: rgb(155, 141, 128), $alpha: 0.75);
  }
  to {
    background-color: rgba($color: rgb(155, 141, 128), $alpha: 0);
  }
}

@keyframes dsbgoup {
  from {
    background-color: rgba($color: rgb(95, 95, 95), $alpha: 0);
  }
  to {
    background-color: rgba($color: rgb(95, 95, 95), $alpha: 0.5);
  }
}

@keyframes dsbgodown {
  from {
    background-color: rgba($color: rgb(95, 95, 95), $alpha: 0.5);
  }
  to {
    background-color: rgba($color: rgb(95, 95, 95), $alpha: 0);
  }
}
